<footer class="footer">
			<div class="container-fluid px-lg-5">
				<div class="row">
					<div class="col-md-12 py-5">
						<div class="row">
							<div class="col-md-2 mb-md-0 mb-4">
								<h2 class="footer-heading">About us</h2>
								<p>We are a botique law firm focused on high wealth dissolutions and custody disputes.</p>
								<ul class="ftco-footer-social p-0">
		              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
		              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
		              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
		            </ul>
							</div>
							<div class="col-md-6">
								<div class="row justify-content-center">
									<div class="col-md-12 col-lg-10">
										<div class="row">
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Services</h2>
												<ul class="list-unstyled">
						              <li><a href="/services/familylaw" class="py-1 d-block">Family Law</a></li>
						              <li><a href="/services/bankruptcy" class="py-1 d-block">Bankruptcy</a></li>
						              <li><a href="/services/personalinjury" class="py-1 d-block">Personal Injury</a></li>
						            </ul>
											</div>
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Discover</h2>
												<ul class="list-unstyled">
						              <li><a href="#" class="py-1 d-block">About us</a></li>
						              <li><a href="#" class="py-1 d-block">Contact us</a></li>
						            </ul>
											</div>
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Principal Attorneys</h2>
												<ul class="list-unstyled">
						              <li><a href="/attorneys#wendy" class="py-1 d-block">Wendy Lun, esq.</a></li>
						              <li><a href="/attorneys#joseph" class="py-1 d-block">Joseph Tse, esq.</a></li>
						            </ul>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="container" style="overflow: hidden; max-height: 200px; position:relative">
									<img src="{{url_for('static', filename='images/clearlunlaw.png')}}" style="display: block; margin-left: auto;margin-right: auto; width:100%; position: absolute; bottom: 0;"/>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>