<section class="ftco-section" style="background-color: #F5F5F5">
        <div class="container">
            <div class="row">
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate"><a href="/services/familylaw" style="color: #808080">
            <div class="d-block">
              <div class="icon d-flex mr-2">
                    <span class="fas fa-baby"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Family Law</h3>
                <p>Issues concernings divorce, child custody, domestic violence, or any other general family issue that you may have.</p>
              </div>
            </div></a>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate"><a href="/services/bankruptcy" style="color: #808080">
            <div class="d-block">
              <div class="icon d-flex mr-2">
                    <span class="fas fa-money-bill-wave"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Bankruptcy</h3>
                <p>Feeling overwhelmed by money owed or maybe just looking to restructure your debt.</p>
              </div>
            </div></a>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate"><a href="/services/personalinjury" style="color: #808080">
            <div class="d-block">
              <div class="icon d-flex mr-2">
                    <span class="fas fa-car-crash"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Personal Injury</h3>
                <p>Injured in a car accident and need help.</p>
              </div>
            </div></a>      
          </div>
        </div>
        </div>
</section>